.strong-point{
    margin-top: 8%;
}

.strong-point-image{
    width: 100px;
    height: 100px;
}

.strong-point-section{
    flex-direction: column;
    width: 30%;
}

.strong-points-area{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.point-heading-text{
    font-size: 18px;
    font-weight: bold;
}

.point-desc-text{
    color: #818689;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width: 500px) {
    .strong-points-area{
       flex-direction: column;
    }
    .strong-point-section{
        width: 60%;
    }
}

@media only screen and (max-width: 350px) {
   
    .strong-point-section{
        width: 80%;
    }
}
